################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomFizzBuzz/bin/Debug/net8.0
/CustomFizzBuzz/obj
/StandardFizzBuzz/bin/Debug/net8.0
/StandardFizzBuzz/obj
/TwistedFizzBuzz/obj
/TwistedFizzBuzz/bin/Debug/net8.0
/TwistedFizzBuzz/.vs/TwistedFizzBuzz
/AlternativeTokensFizzBuzz (ConsoleApp3)/bin/Debug/net8.0
/AlternativeTokensFizzBuzz (ConsoleApp3)/obj
/APIGeneratedTokensFizzBuzz (ConsoleApp4)/obj
